
@media screen and (max-width:5000px) and (min-width:1000px) {
#undercontainer{margin-bottom: 30px;}
#boxsx,#boxdx,#boxcenter{
    background-size:80%;
    max-width: 33.3%;
    BACKGROUND-POSITION: center !important;
}
}

@media screen and (max-width:5000px) and (min-width:950px) {
	
#container{
	width:100% !important;
}

a{
	font-size:13px;
}


#undercontainer{
	position:relative;
	margin-left: auto;
    margin-right: auto;
	width:70% !important;
}


	
	/*============= OVERHEADER =================*/
	
.overheader {
	background:url(http://shop.wmepoint.com/shop/051/modules/blockbanner/img/c2b65c13121a7c80738893a46e6eaab5.jpg) #000;
	height:40px; 
	width:100% ;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
	display:none;
}
	 
	 /*============= FINE OVERHEADER ============*/
	 
	 
	 /*============= HEADER =====================*/	

#header {
	background-image: /*url(img/temp_header.png)*/;
	background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px !important;

	}	 
	 
#headertitlesx {
	background-image: url(img/temp_headtitlesmart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    float: left;
    height: 100%;
    max-width: 100%;
    width: 100%;
}
	
#headertitledx {
   	background-image: url(img/temp_headtitlesmartright.png);
	max-width: 50%;
	background-size: 80%;
	height: 100%;
	float: left;
	width: 100%;
	background-repeat: no-repeat;
	display:none;
}

#headertitlecenter{
	display:none;
}




#spaceone{
	width:100%;
	float:left;
	}
	
#spaceleftup{
	padding-top:5px;
	float:right;
    width: 8%;
	height: 100%;
	display:none;
	}
	

	
#fb{
	width: 40%;
}

#mail{
	width: 40%;
}

a#afb{
	text-transform: uppercase;
    text-decoration: none;
    line-height: 42px;
   font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
	border-right:0px;
	margin:-7px;
   }
   
   
.titlemd{
	       font-size: 92%;
}
	
	 /*============= FINE HEADER =================*/	
	 
	 /*============= OVERCONTENT =================*/
	 
.overcontent {
	background-color:/* grey*/;
	width: 100%;
	color: #fff;
	font-size: 16px;
	display: block;
	height: 60px;
	width: 100% ;
}
	
/* ANIMATION */
@-moz-keyframes cycle {
	0%  { top:0px; }
	4%  { top:0px; } 
	16% { top:0px; opacity:1; z-index:0; } 
	20% { top:325px; opacity:0; z-index:0; } 
	21% { top:-325px; opacity:0; z-index:-1; }
	92% { top:-325px; opacity:0; z-index:0; }
	96% { top:-325px; opacity:0; }
	100%{ top:0px; opacity:1; }
	
}
@-moz-keyframes cycletwo {
	0%  { top:-325px; opacity:0; }
	16% { top:-325px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; } 
	36% { top:0px; opacity:1; z-index:0; } 
	40% { top:325px; opacity:0; z-index:0; }
	41% { top:-325px; opacity:0; z-index:-1; } 
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclethree {
	0%  { top:-325px; opacity:0; }
	36% { top:-325px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; } 
	56% { top:0px; opacity:1; } 
	60% { top:325px; opacity:0; z-index:0; }
	61% { top:-325px; opacity:0; z-index:-1; } 
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefour {
	0%  { top:-325px; opacity:0; }
	56% { top:-325px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:325px; opacity:0; z-index:0; }
	81% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefive {
	0%  { top:-325px; opacity:0; }
	76% { top:-325px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:325px; opacity:0; z-index:0; }
}

@-webkit-keyframes cycle {
	0%  { top:0px; }
	4%  { top:0px; }
	16% { top:0px; opacity:1; z-index:0; } 
	20% { top:325px; opacity:0; z-index:0; }
	21% { top:-325px; opacity:0; z-index:-1; }
	50% { top:-325px; opacity:0; z-index:-1; }
	92% { top:-325px; opacity:0; z-index:0; }
	96% { top:-325px; opacity:0; }
	100%{ top:0px; opacity:1; }
	
}
@-webkit-keyframes cycletwo {
	0%  { top:-325px; opacity:0; }
	16% { top:-325px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; } 
	36% { top:0px; opacity:1; z-index:0; } 
	40% { top:325px; opacity:0; z-index:0; }
	41% { top:-325px; opacity:0; z-index:-1; }  
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclethree {
	0%  { top:-325px; opacity:0; }
	36% { top:-325px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; } 
	56% { top:0px; opacity:1; z-index:0; } 
	60% { top:325px; opacity:0; z-index:0; } 
	61% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefour {
	0%  { top:-325px; opacity:0; }
	56% { top:-325px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:325px; opacity:0; z-index:0; }
	81% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefive {
	0%  { top:-325px; opacity:0; }
	76% { top:-325px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:325px; opacity:0; z-index:0; }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}


/* CONTENT SLIDER */
#content-slider {
	width:100%;file:///C:/Users/operator22/Downloads/CSS3-Slider/index.html#;
	height:10px;
	margin:0px auto 0;
	display:none;
}
/* SLIDER */
#slider {
	background:#000;
	border:5px solid #eaeaea;
	/* box-shadow:1px 1px 5px rgba(0,0,0,0.7); */
	height:135px;
	width:100%;
	margin:0px auto 0;
	overflow:visible;
	position:relative;
}
#mask {
	overflow:hidden;
	height:125px;
}
#slider ul {
	margin:0;
	padding:0;
	position:relative;
}
#slider li {
	width:100%;
	height:125px;
	position:absolute;
	top:-325px;
	list-style:none;
}

#slider li.firstanimation {
	-moz-animation:cycle 25s linear infinite;	
	-webkit-animation:cycle 25s linear infinite;
	background-image: url(logo.jpg) ;
	background-size:100% 100%;
	height:130px;	
}


#slider li.secondanimation {
	-moz-animation:cycletwo 25s linear infinite;
	-webkit-animation:cycletwo 25s linear infinite;	
	background-image: url(logo.jpg) ;
	background-size:100% 100%;
	height:130px;		
}
#slider li.thirdanimation {
	-moz-animation:cyclethree 25s linear infinite;
	-webkit-animation:cyclethree 25s linear infinite;
	background-image: url(logo.jpg) ;
	background-size:100% 100%;
	height:130px;			
}
#slider li.fourthanimation {
	-moz-animation:cyclefour 25s linear infinite;
	-webkit-animation:cyclefour 25s linear infinite;	
	background-image: url(logo.jpg) ;
	background-size:100% 100%;
	height:130px;		
}
#slider li.fifthanimation {
	-moz-animation:cyclefive 25s linear infinite;
	-webkit-animation:cyclefive 25s linear infinite;	
	background-image: url(logo.jpg) ;
	background-size:100% 100%;
	height:130px;		
}

#slider .tooltip {
	background:rgba(0,0,0,0.7);
	width:300px;
	height:60px;
	position:relative;
	bottom:75px;
	left:-320px;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;  
}
#slider .tooltip h1 {
	color:#fff;
	font-size:24px;
	font-weight:300;
	line-height:60px;
	padding:0 0 0 20px;
}
#slider li#first:hover .tooltip, 
#slider li#second:hover .tooltip, 
#slider li#third:hover .tooltip, 
#slider li#fourth:hover .tooltip, 
#slider li#fifth:hover .tooltip {
	left:0px;
}
#slider:hover li, 
#slider:hover .progress-bar {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}

/* PROGRESS BAR */
.progress-bar { 
	position:relative;
	top:-5px;
	width:680px; 
	height:5px;
	background:#000;
	-moz-animation:fullexpand 25s ease-out infinite;
	-webkit-animation:fullexpand 25s ease-out infinite;
}
	 
	 /*============= FINE OVERCONTENT ============*/
	 
	 
	 /*=============== CONTENT ===================*/

#title{
	/*border-bottom:1px solid #000;*/
	margin-top:40px;
	}
#titleh1{
	font-size:12px;
	text-align:center;
	}

					/* area slider */
					
					
* {margin: 0; padding: 0;}


.sliderfoto{
	width: 90%; 
	position: relative;
	padding-top: 47%;
	margin: 0px auto 100px auto;
}

#elenco > div.sliderfoto > label{
	margin-top:10px;	
	margin-bottom:40px;
}


/*Last thing remaining is to add transitions*/
.sliderfoto>img{
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
    max-width: 100% !important;
    margin: auto;
}

.sliderfoto input[name='slide_switch'] {
	display: none;
}

.sliderfoto label {
	/*Lets add some spacing for the thumbnails*/
	
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.sliderfoto label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.sliderfoto input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);    
	max-height: 100% !important;
}

/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.sliderfoto input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
	
}

.sliderfoto > label{
	width: 16.65%;
	padding: 10px 10px;
	margin-left: 0px !important;
}
.sliderfoto > label > img{
	width:100% !important;
	height: 35px;
}
					/* fine area slider */
	

#areacenter{
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

	
#areatitlebutton{
	width:100%;
	margin-bottom: 350px;
	margin-top: 10px;
}
	
#areatitlebutton>ul{
	width:100%;
}
	
#areatitlebutton>ul>li{
	width:25%;
	background-image:url(http://pngimg.com/upload/computer_pc_PNG7722.png);
	float:left;
	background-repeat:no-repeat;
	background-position:50%;
	background-size:150px;
	height:150px;
}
	
#areatitlebutton>ul>li>div{
	visibility:hidden;
}
	
	
*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
	font: 14px 'Open Sans', sans-serif;
}
		/* You can safely remove the next two lines */
.top { 
	padding-right: 20px; 
	background: #261F41; 
	text-align: left; 
}





a { 
	text-transform: uppercase; 
	text-decoration: none; 
	line-height: 42px; 
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
	padding: 0px 10px 0px 5px;
}

p {
	margin: 0 0 20px; 
	line-height: 1.5;

}

#content1 > p{
	color:#000;	
}

#areacontentdes > div > table > tbody > tr > td > p{
	
	}

.mainline {
	display:none;
}

.main {
	margin: 0 auto; 
	min-width: 320px; 
	max-width: 100%;
	text-align:center;
}

.contentblock {
	max-width:100%;
}

.contentblock > div {
	display: none; 
	padding: 20px 25px 5px;
}
		
input {
	display: none;
}

label {
	display: inline-block;
    padding: 12px 25px 9px 20px;
    font-weight: 600;
    text-align: CENTER !important;
    margin-top: 2px;
    position: relative;
	font-size: 12px;
	}
		
label:hover {
	cursor: pointer;
}



	
.mainline > label{
	width:100%;
}

#tab01:checked ~ .contentblock #content1, #tab02:checked ~ .contentblock #content2, #tab03:checked ~ .contentblock #content3, #tab04:checked ~ .contentblock #content4, #tab05:checked ~ .contentblock #content5, #tab06:checked ~ .contentblock #content6 	

	{
	display: block;
	height:auto;
	font-size:15px;
}
		
#tab07:checked ~ .contentblock #content7,
#tab08:checked ~ .contentblock #content8,
#tab09:checked ~ .contentblock #content9,
#tab10:checked ~ .contentblock #content10,
#tab11:checked ~ .contentblock #content11,
#tab12:checked ~ .contentblock #content12 	
	{
	display: block;
	width:100%;
}

.areabox{
	height:400px;
}

#boxsx {
	background-image: url(img/1.png);
	max-width: 33.3%;	
	BACKGROUND-POSITION: 5PX;
}

#boxcenter{
	background-image: url(img/2.png);
	max-width: 33.3%;
	BACKGROUND-POSITION: 5PX;
}
	
#boxdx {
   background-image: url(img/3.png);
	max-width: 33.3%;
	BACKGROUND-POSITION: 5PX;
	/*display:none;*/
}



#spacetwo > div > img{width:100%;}
	
	 /*=============FINE CONTENT =================*/


 .center-header, .center-overcontent, .center-content, .center-footer{
	margin-left: auto !important; 
}

.center-nav{
	position:relative;
	margin-left: auto !important;
	margin-right:auto !important;
	width:83%;
}


.main-desc .images-left {
	width: 100%;
	margin-bottom: 2.8571425%;
}

.main-desc {
	margin: auto; 
}


#footer{
	height: 250px;
	/*padding-top: 50px;*/}


	
#rowonesx {
	background-image: url(img/4.png);
	max-width: 33.3%;
		
	
}

#rowonecenter{
	background-image: url(img/5.png);
	max-width: 33.3%;
	
}
	
#rowonedx {
   background-image: url(img/6.png);
	max-width: 33.3%;
	
}

.rowtwo{
    background: /*rgba(0, 0, 0, 0) url("img/temp_footerbg.png") no-repeat scroll center bottom / cover */;
    border-radius: 2px 2px 0 0;
    display: block;
    font-size: 16px;
    height: 100%;
    margin-top: 0px;
    width: 100%;
}

.rowtwomobile{
    background: url(img/temp_footerbg.png);
    width: 100%;
    /* color: #fff; */
    font-size: 16px;
    display: block;
    height: 270px;
    border-radius: 2px 2px 0 0;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center bottom;
	display:none;
    
}

.center-footer{
	background: url(img/temp_footer.png);
    height: 100% !important;
    background-size: 100%;
    background-position: center ;
    background-repeat: no-repeat;

}

.rowthree{
}
#areacontentdes img{max-width:70%;}


}


@media screen and (max-width:950px) and (min-width:480px) {
	
#container{
	width:100% !important;
	}


#undercontainer{
	position:relative;
	margin-left: auto;
    margin-right: auto;
	width:80% !important;
	}

	a{font-size:10px;
	}
	
	
	/*============= OVERHEADER =================*/
	
.overheader {
	background:url(http://shop.wmepoint.com/shop/051/modules/blockbanner/img/c2b65c13121a7c80738893a46e6eaab5.jpg) #000;
	height:40px; 
	width:100% ;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
	display:none;
	 }
	 
	 /*============= FINE OVERHEADER ============*/
	 
	 
	 /*============= HEADER =====================*/	
	 
#header {
	background-image:/* url(img/temp_header.png)*/;
	background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
	height:245px;
	}
	 
#headertitlesx {
	background-image: url(img/temp_headtitlesmartmobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 65% auto;
    float: left;
    height: 100%;
    max-width: 100%;
    width: 100%;
}
	
#headertitledx {
   background-image: url(img/temp_headtitlesmartright.png);
	max-width: 50%;
	background-size: 80%;
	height: 100%;
	float: left;
	width: 100%;
	background-repeat: no-repeat;
	display:none;
}
	
#spaceone{
	width:100%;
	float:left;
	}
	
	
#spaceleftup{
	padding-top:5px;
	float:left;
    width: 15%;
	height: 100%;
	display:none;
	}
	
#spacetwo>div>img{
	width:100%;
	margin-bottom: -50px;	
}
	
#fb{
	width: 25px;
	margin-top: 5px;
	
}
#mail{
	width: 30px;
}

a#afb{
	text-transform: uppercase;
    text-decoration: none;
    line-height: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
	border-right:0px;
	margin:-7px;
   }


	/*============= FINE HEADER =================*/	
	 
	/*============= OVERCONTENT =================*/
	.overcontent {
	background-color: #fff;
	width: 100%;
	color: #fff;
	font-size: 16px;
	display: block;
	height: 10px;
	width: 100% ;
	}	 
	
	/* ANIMATION */
@-moz-keyframes cycle {
	0%  { top:0px; }
	4%  { top:0px; } 
	16% { top:0px; opacity:1; z-index:0; } 
	20% { top:325px; opacity:0; z-index:0; } 
	21% { top:-325px; opacity:0; z-index:-1; }
	92% { top:-325px; opacity:0; z-index:0; }
	96% { top:-325px; opacity:0; }
	100%{ top:0px; opacity:1; }
	
}
@-moz-keyframes cycletwo {
	0%  { top:-325px; opacity:0; }
	16% { top:-325px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; } 
	36% { top:0px; opacity:1; z-index:0; } 
	40% { top:325px; opacity:0; z-index:0; }
	41% { top:-325px; opacity:0; z-index:-1; } 
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclethree {
	0%  { top:-325px; opacity:0; }
	36% { top:-325px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; } 
	56% { top:0px; opacity:1; } 
	60% { top:325px; opacity:0; z-index:0; }
	61% { top:-325px; opacity:0; z-index:-1; } 
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefour {
	0%  { top:-325px; opacity:0; }
	56% { top:-325px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:325px; opacity:0; z-index:0; }
	81% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefive {
	0%  { top:-325px; opacity:0; }
	76% { top:-325px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:325px; opacity:0; z-index:0; }
}

@-webkit-keyframes cycle {
	0%  { top:0px; }
	4%  { top:0px; }
	16% { top:0px; opacity:1; z-index:0; } 
	20% { top:325px; opacity:0; z-index:0; }
	21% { top:-325px; opacity:0; z-index:-1; }
	50% { top:-325px; opacity:0; z-index:-1; }
	92% { top:-325px; opacity:0; z-index:0; }
	96% { top:-325px; opacity:0; }
	100%{ top:0px; opacity:1; }
	
}
@-webkit-keyframes cycletwo {
	0%  { top:-325px; opacity:0; }
	16% { top:-325px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; } 
	36% { top:0px; opacity:1; z-index:0; } 
	40% { top:325px; opacity:0; z-index:0; }
	41% { top:-325px; opacity:0; z-index:-1; }  
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclethree {
	0%  { top:-325px; opacity:0; }
	36% { top:-325px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; } 
	56% { top:0px; opacity:1; z-index:0; } 
	60% { top:325px; opacity:0; z-index:0; } 
	61% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefour {
	0%  { top:-325px; opacity:0; }
	56% { top:-325px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:325px; opacity:0; z-index:0; }
	81% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefive {
	0%  { top:-325px; opacity:0; }
	76% { top:-325px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:325px; opacity:0; z-index:0; }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}


/* CONTENT SLIDER */
#content-slider {
	width:100%;file:///C:/Users/operator22/Downloads/CSS3-Slider/index.html#;
	height:170px;
	margin:0px auto 0;
}
/* SLIDER */
#slider {
	background:#000;
	border:5px solid #eaeaea;
	/* box-shadow:1px 1px 5px rgba(0,0,0,0.7); */
	height:135px;
	width:100%;
	margin:0px auto 0;
	overflow:visible;
	position:relative;
	display:none;
}
#mask {
	overflow:hidden;
	height:125px;
}
#slider ul {
	margin:0;
	padding:0;
	position:relative;
}
#slider li {
	width:100%;
	height:125px;
	position:absolute;
	top:-325px;
	list-style:none;
}

#slider li.firstanimation {
	-moz-animation:cycle 25s linear infinite;	
	-webkit-animation:cycle 25s linear infinite;
	background-image: url(logo.jpg) ;
	background-size:100% 100%;
	height:130px;	
}


#slider li.secondanimation {
	-moz-animation:cycletwo 25s linear infinite;
	-webkit-animation:cycletwo 25s linear infinite;	
	background-image: url(logo.jpg) ;
	background-size:100% 100%;
	height:130px;		
}
#slider li.thirdanimation {
	-moz-animation:cyclethree 25s linear infinite;
	-webkit-animation:cyclethree 25s linear infinite;
	background-image: url(logo.jpg) ;
	background-size:100% 100%;
	height:130px;			
}
#slider li.fourthanimation {
	-moz-animation:cyclefour 25s linear infinite;
	-webkit-animation:cyclefour 25s linear infinite;	
	background-image: url(logo.jpg) ;
	background-size:100% 100%;
	height:130px;		
}
#slider li.fifthanimation {
	-moz-animation:cyclefive 25s linear infinite;
	-webkit-animation:cyclefive 25s linear infinite;	
	background-image: url(logo.jpg) ;
	background-size:100% 100%;
	height:130px;		
}

#slider .tooltip {
	background:rgba(0,0,0,0.7);
	width:300px;
	height:60px;
	position:relative;
	bottom:75px;
	left:-320px;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;  
}
#slider .tooltip h1 {
	color:#fff;
	font-size:24px;
	font-weight:300;
	line-height:60px;
	padding:0 0 0 20px;
}
#slider li#first:hover .tooltip, 
#slider li#second:hover .tooltip, 
#slider li#third:hover .tooltip, 
#slider li#fourth:hover .tooltip, 
#slider li#fifth:hover .tooltip {
	left:0px;
}
#slider:hover li, 
#slider:hover .progress-bar {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}

/* PROGRESS BAR */
.progress-bar { 
	position:relative;
	top:-5px;
	width:680px; 
	height:5px;
	background:#000;
	-moz-animation:fullexpand 25s ease-out infinite;
	-webkit-animation:fullexpand 25s ease-out infinite;
}
	 
	 /*============= FINE OVERCONTENT ============*/
	
	/*=============== CONTENT ===================*/
#title{
	/*border-bottom:1px solid #000;*/
	margin-top:20px;
	}

#titleh1{
	font-size:12px;
	text-align:center;
	background: #e38838;
    margin: 0 !important;
    padding: 12px !important;
    border-bottom: 5px solid #000;
	}

					/* area slider */
					
					
* {margin: 0; padding: 0;}


.sliderfoto{
	width: 100%; 
	position: relative;
	padding-top: 50%; 
	margin: 0px auto 65px auto;
}

#elenco > div.sliderfoto > label{
	/*margin-top:80px;*/	
	margin-bottom:30px;
	height:80px;
}



/*Last thing remaining is to add transitions*/
.sliderfoto>img{
position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
    max-width: 100% !important;
    margin: auto;
}

.sliderfoto input[name='slide_switch'] {
	display: none;
}

.sliderfoto label {
	/*Lets add some spacing for the thumbnails*/
	
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}



.sliderfoto > label > img{
	width:100% !important;
	height: 25px;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.sliderfoto input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
	max-height: 100% !important;
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.sliderfoto input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
	
}
.sliderfoto > img{max-width:100% !important;}
.sliderfoto > label{width: 16.65%;padding: 10px 10px;margin-left: 0px !important;}
.sliderfoto > label > img{
	width:105% !important;
 }
					/* fine area slider */

	 
*, *:before, *:after {margin: 0; padding: 0; box-sizing: border-box;}
		body { font: 14px 'Open Sans', sans-serif;}

		/* You can safely remove the next two lines */
.top { 
	padding-right: 20px; 
	background: #261F41; 
	text-align: left; 
}

a { 
	text-transform: uppercase;
    text-decoration: none;
    line-height: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0px 10px 0px 5px;
	
}

p {margin: 0 0 20px; line-height: 1.5;}

.main {
	display:none;
}

.mainline {
	margin: 0 auto; 
	min-width: 320px; 
	max-width: 100%;
	width:100%;
	text-align:left;
}

.contentblock {
	background: #fff; 
	color: #373737;
	width:100%;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

.contentblock > div {
	display: none; 
	padding: 20px 25px 5px 20px;
}
		
input {
	display: none;}
		
		
label {
	display: inline-block; 
	padding: 15px 20px; 
	font-weight: 600; 
	text-align:left;
	margin-top:2px;
	}
		
label:hover {
	cursor: pointer;
}
		


#elenco > div.sliderfoto > label
	{
	width:16.6%;
	}
		
.mainline > label{
	width:100%;
	text-align:center;
}

#tab01:checked ~ .contentblock #content1,
#tab02:checked ~ .contentblock #content2,
#tab03:checked ~ .contentblock #content3,
#tab04:checked ~ .contentblock #content4,
#tab05:checked ~ .contentblock #content5,
#tab06:checked ~ .contentblock #content6 	
	{
	display: block;
		}
#tab07:checked ~ .contentblock #content7,
#tab08:checked ~ .contentblock #content8,
#tab09:checked ~ .contentblock #content9,
#tab10:checked ~ .contentblock #content10,
#tab11:checked ~ .contentblock #content11,
#tab12:checked ~ .contentblock #content12 	
	{
	display: block;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	color:#000;
}

.areabox{
	height:250px;
}

#boxsx {
	background-image: url(img/1.png);
	max-width: 33.3%;	
	BACKGROUND-POSITION: 5PX;
}

#boxcenter{
	background-image: url(img/2.png);
	max-width: 33.3%;
	BACKGROUND-POSITION: 5PX;
}
	
#boxdx {
   background-image: url(img/3.png);
	max-width: 33.3%;
	BACKGROUND-POSITION: 5PX;
	
}

	
	 /*=============FINE CONTENT =================*/
	
 .center-header,.center-nav, .center-overcontent, .center-content, .center-footer{
	margin-left: auto !important; 
}

#footer{
	height: 180px;
    /*padding-top: 50px;*/}

#rowonesx {
	background-image: url(img/4.png);
	max-width: 33.3%;	
	display:none;
	
}

#rowonecenter{
	background: url(img/5.png);
	max-width: 100%;
	background-size:100%;
	background-position:46%;
	background-repeat:no-repeat;
}
	
#rowonedx {
   background-image: url(img/6.png);
	max-width: 33.3%;
	display:none;
	
}


.rowtwo{
    background: /*rgba(0, 0, 0, 0) url("img/temp_footerbg.png") no-repeat scroll center bottom / cover*/ ;
    border-radius: 2px 2px 0 0;
    display: block;
    font-size: 16px;
    height: auto;
    margin-top: 0px;
    width: 100%;
}


.rowtwomobile{
    background: url(img/temp_footerbg.png);
    width: 100%;
    /* color: #fff; */
    font-size: 16px;
    display: block;
    height: 270px;
    border-radius: 2px 2px 0 0;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center bottom;
	display:none;
    
}

.center-footer{
	background: url(img/temp_footer.png);
	height: 70%;
    background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.rowthree{
}

#areacontentdes img{max-width:50%;}

}


@media screen and (max-width: 480px) {

#container{
	width:100% !important;
}

a{
	font-size:13px;
}


#undercontainer{
	margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 95% !important;
	padding-bottom: 580px;
}

	/*============= OVERHEADER =================*/
	
.overheader {
	background:url(http://shop.wmepoint.com/shop/051/modules/blockbanner/img/c2b65c13121a7c80738893a46e6eaab5.jpg) #000;
	height:40px; 
	width:100% ;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
	display:none;
}

.overheader .titlemd {
	background-image: url(shop_overheadersmall.jpg) ;
	height:150px; 
	width:100% ;
	background-size:100% 100%;
	background-repeat:no-repeat ;
	display:none; 
}
	 
	 /*============= FINE OVERHEADER ============*/
	 
	  /*============= HEADER =====================*/	

#header {
	background-image: /*url(img/temp_header.png)*/;
	background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
	height:190px;
	}	 


#headertitlesx {
	display:none;
}
	
#headertitledx {
	display:none;
}

#headertitlecenter{
   background-image: url(img/temp_headtitlesmartmobile.png);
	max-width: 100%;
	background-size: 100%;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	BACKGROUND-POSITION: 5PX;
}	
		
.navfw .nav-menu a {
    color: #424242;
    padding: 0px  18px;
	}

.navfw .nav-menu { display: none; }



	
#spaceone{
    width: 96%;
    float: left;
    text-align: center;
	}
	
#spaceleftup{
	padding-top:5px;
	float:left;
	display:none;
	}


#spacetwo{
	width: 100%;
   /* margin-bottom: -50px;*/
	}
	
	 /*============= FINE HEADER =================*/	

	
	/*============= OVERCONTENT =================*/
	
.overcontent {
	background-color: /*#000*/;
	width: 100%;
	color: #fff;
	font-size: 16px;
	display: block;
	height: 10px;
	border-radius: 2px 2px 0 0;
	margin-top:0px;
}

#content-slider{
	display:none;}
	
	/*=========== FINE OVERCONTENT ==============*/

	/*=============== CONTENT ===================*/
.titlemd{
	display:none;}
#title {
    /*border-bottom: 1px solid #000;*/
	margin-top:30px;
}

#titleh1 {
    font-size: 10px;
    text-align: center;
	background: #e38838;
    margin: 0 !important;
    padding: 12px !important;
	border-bottom: 5px solid #000;
}

#titleh3{font-size:9px;
text-align:center;}

#areacontentdes > div > table > tbody > tr > td {
	font-size:13px;	
}

#gallery > img{width:100%;}


					/* area slider */

.main-desc {
	margin-bottom: 2.173912%;
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
}

					
.main-desc .images-left .areacenter{
	background-image:url(http://www.ijtdirect.co.uk/images/products/13671/6426/6426_large.jpg);
	height:230px;
	background-repeat:no-repeat;
	background-size: 60%;
	background-position: 50%;
}
					
#areacenter{
	position:relative;
	margin-left:auto;
	margin-right:auto;}
	
#areatitlebutton{
	width:100%;
	margin-bottom: 110px;
	margin-top: 10px;}
	
#areatitlebutton>ul{
	width:100%;}
	
#areatitlebutton>ul>li{
	width:25%;
	background-image:url(http://pngimg.com/upload/computer_pc_PNG7722.png);
	float:left;
	background-repeat:no-repeat;
	background-position:50%;
	background-size:85%;
	height:100px;}
	
#areatitlebutton>ul>li>div{
	visibility:hidden;}					
					
* {margin: 0; padding: 0;}

.sliderfoto{
	width: 85%; 
	position: relative;
	padding-top: 54%; 
	margin: 0px auto 55px auto;
}

#elenco > div.sliderfoto > label{
	/*margin-top:80px;*/	
	margin-bottom:30px;
	height:50px;
}

.sliderfoto > label > img{
	width:100% !important;
	height: 30px;
}



/*Last thing remaining is to add transitions*/
.sliderfoto>img{
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
    max-width: 100% !important;
    margin: auto;
}

.sliderfoto input[name='slide_switch'] {
	display: none;
}

.sliderfoto label {
	/*Lets add some spacing for the thumbnails*/
	
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.sliderfoto label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.sliderfoto input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
	max-height: 100%;
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.sliderfoto input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
	
}
.sliderfoto > img{max-width:100%;}
.sliderfoto > label{width: 16.6%;padding: 10px 10px;margin-left: 0px !important;}
.sliderfoto > label > img{
	width:100% !important;
	height:10px;
	 }
	 
#elenco > div.sliderfoto > label
	{
	width:16.6%;
	}
		
#elenco > div.sliderfoto > label>img
	{
	width:100%;
	}		
					/* fine area slider */
		
		
		#areacontentdes img{
	max-width:300px;
}					
		


		
.areabox{
	height:280px ;
	margin:0px 0px;
}

#boxsx {
	background-image: url(img/1.png);
	max-width: 100%;	
	background-size: 80%;
	margin-top:10px;
	background-position:center;
}

#boxcenter{
	background-image: url(img/2.png);
	max-width:100%;
	background-size: 80%;
	background-position:center;
}
	
#boxdx {
    background-image: url(img/3.png);
	max-width: 100%;
	background-size: 80%;
	margin-bottom:10px;
	background-position:center;
	
}
		
					
	/*=============== FINE CONTENT ===============*/
	
	
.main-desc .sell-points .card.last,
.main-desc .sell-points .card {
	margin-bottom: 2.8571425%; }
	
.md div#tab1,
.md div#tab2{
  	margin-bottom: 4.347826086%;
}

a{
  	text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}



#footer {
	color: #ffffff;
	margin-bottom: 0px;
	text-align: center;
	color: #424242;
	display: block;
	margin-top:0px;
	height: 60px;
    /*padding-top: 50px;*/
}


#rowonesx {
	background-image: url(img/4.png);
	max-width: 33.3%;	
	display:none;
	
}

#rowonecenter{
	background: url(img/5.png);
	max-width: 100%;
	background-position:48%;
	background-position:cover;
	background-repeat:no-repeat;
	background-size:100%;
	width:100%;
	
}
	
#rowonedx {
   background-image: url(img/6.png);
	max-width: 33.3%;
	
	
}


.rowtwo{
	background: /*rgba(0, 0, 0, 0) url("img/temp_footerbg.png") no-repeat scroll center bottom / cover*/ ;
    border-radius: 2px 2px 0 0;
    display: block;
    font-size: 16px;
    height: 100%;
    margin-top: 0px;
    width: 100%;
}


.rowtwomobile{
    background: url(img/temp_footerbg.png);
    width: 100%;
    /* color: #fff; */
    font-size: 16px;
    display: block;
    height: 270px;
    border-radius: 2px 2px 0 0;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center bottom;
	display:none;
    
}

.center-footer{
	background: url(img/temp_footer.png);
    height:100%;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	

}


.rowthree{
}


*, *:before, *:after {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

body {  
	font: 11px 'Open Sans', sans-serif;
}

		/* You can safely remove the next two lines */
.top { 
	padding-right: 20px; 
	background: #261F41; 
	text-align: left; 
}
		
a {  
	text-transform: uppercase; 
	text-decoration: none;
	line-height: 42px; 
	font-size: 8px;
    padding: 0px 10px 0px 5px;
	text-align:center;
	display:inline;
	display:-webkit-inline-box;
	
}

#spaceone > a:nth-child(3){ 
border:none ;
}

p {
	margin: 0 0 20px; 
	line-height: 1.5;
	font-size: 12px;
}

.main {
	display:none;
}

.mainline {
	margin: 0 auto; 
	min-width: 100%; 
	max-width: 100%;
	width:100%;
	text-align:left;
}
		
.contentblock {
	width:100%;
	max-width: 100%;
}
		
.contentblock > div {
	display: none; 
	padding: 20px 25px 5px;
}
		
input {
	display: none;
}

label {
	display: inline-block; 
	padding: 15px 10px;
	font-weight: 600; 
	text-align:left;
	margin-top:5px;
}

label:hover {
	cursor: pointer;
}

		
.mainline > label{
	width:100%;
	text-align:center;
}

#tab01:checked ~ .contentblock #content1,
#tab02:checked ~ .contentblock #content2,
#tab03:checked ~ .contentblock #content3,
#tab04:checked ~ .contentblock #content4,
#tab05:checked ~ .contentblock #content5,
#tab06:checked ~ .contentblock #content6 	
	{
	display: block;
}
#tab07:checked ~ .contentblock #content7,
#tab08:checked ~ .contentblock #content8,
#tab09:checked ~ .contentblock #content9,
#tab10:checked ~ .contentblock #content10,
#tab11:checked ~ .contentblock #content11,
#tab12:checked ~ .contentblock #content12 	
	{
	display: block;
	width:100%;
    margin-left: auto;
    margin-right: auto;
    color: #000;
}

#spaceone > div > a > img {display:none !important;}




	
	 /*=============FINE CONTENT =================*/

#areacontentdes img{max-width:100%;
width:300px;}

}


#areaheader > li:nth-child(2){display:none;}